
/* at-rules */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Prompt:wght@500&display=swap');


@keyframes slidein {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
}


/* header */

header .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 1.2rem 1rem;
    text-align: center;
}


/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    

    background-color: #000;
    color: #fff;
    padding: 0 1rem;

    z-index: 1;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo h1 {
    margin-left: 0.5rem;
    font-weight: 600;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    
    /* the below will change as width increases */
    color: #000;

    position: absolute;
    top: 100%;
    left: -100%;

    min-width: 80%;

    overflow: hidden scroll;

    box-shadow: 0 0 3px 0 #000;

}

nav ul li:nth-child(1) {
    padding: 1.5rem 0.6rem;
    font-weight: 600;
    font-size: 1.3rem;
}

nav ul li a {
    display: inline-block;
    padding: 1rem 0.6rem;
    text-decoration: none;
    color: inherit;

    width: 100%;

    border-bottom: 1px solid #bbb;
}

nav ul li a:hover {
    background-color: #000;
    color: #fff;
    border-left: 3px solid #fff;
}

.material-symbols-outlined {
  color: #fff;
  cursor: pointer;
}


/* business content */

main {
    padding: 1rem;
}

.grid {
    margin: 1rem 0;
}

/* footer */
footer {
    padding: 2rem 1rem;
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer span {
    font-size: 0.6rem;
}


/* helpers */


.tl1 {
    left: 0;
    min-height: 1000rem;
    overflow: hidden;
    animation-name: slidein;
    animation-duration: 0.001s;
    animation-timing-function: linear;
}

.active-nav-link {
    background-color: #000;
    color: #fff;
    border-left: 3px solid #fff;
}


.rb {
    background-color: #2354dc;
    color: #fff;
}

.green {
    background-color: rgb(4, 199, 4);
    color: #fff;
}

.red {
    background-color: rgb(184, 28, 28);
    color: #fff;
}



@media screen and (min-width: 480px) {

}


@media screen and (min-width: 640px) {
    .grid {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 960px) {

    .menu {
        position: absolute;
        right: 100%;
    }

    nav ul {
        
        /* the below will change as width increases */
        display: flex;
        justify-content: space-around;
        align-items: center;

        background-color: inherit;
        color: #fff;
    
        position: static;
        top: none;
        right: none;
    
        min-width: unset;
        min-height: unset;
    
        box-shadow: 0 0 3px 0 #000;

    }

    nav ul li:nth-child(1) {
        position: absolute;
        left: -100%;
    }

    nav ul li a {
        box-sizing: border-box;
        padding: 1rem 1.2rem;
        width: 100%;
        border-bottom: none;
    }

    .grid {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
}

